<?xml version="1.0"?>
<robot name="bot1" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:property name="wheel_dia" value="0.05"/>
	<xacro:property name="bot_height" value="0.07"/>
	<xacro:property name="length" value="0.09"/>
	<xacro:property name="breadth" value="0.09"/>
	<xacro:property name="pi" value="3.14159"/>
	<xacro:property name="m_base" value="1"/>
	<xacro:property name="m_wheel" value="0.3"/>
	<xacro:property name="m_caster_wheel" value="3"/>
  	<xacro:property name="bot_number" value="1"/>

	<link name="base_link"/>
	<link name="base_link_inertia">
		<inertial>
     		<origin xyz="0 0 0" rpy="0 0 0"/>
     		<mass value="${m_base}"/>
     		<inertia ixx="${m_base*(breadth*breadth+0.008*0.008)/12.0}"  ixy="0"  ixz="0" iyy="${m_base*(length*length+0.008*0.008)/12.0}" iyz="0" izz="${m_base*(breadth*breadth+length*length)/12.0}" />
   		</inertial>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="${length} ${breadth} 0.008"/>
			</geometry>
		</collision>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://bot_description/meshes/bot${bot_number}.dae" scale="1.22 1.22 1.22"  />
			</geometry>
		</visual>
	</link>